<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Hello Angular</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/angularjs/1.3.8/angular.min.js"
            th:src="@{/webjars/angularjs/1.3.8/angular.min.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/angularjs/1.3.8/angular.min.js"
            th:src="@{/webjars/angularjs/1.3.8/angular-resource.min.js}"></script>

    <!-- Angular spring data rest fant jeg ikke en alternativ HREF til på CDN nettverket så den er utelatt. -->
    <script th:src="@{/webjars/angular-spring-data-rest/0.4.3/dist/angular-spring-data-rest.min.js}"></script>

    <script src="js/card.js" />
    <script src="js/controllers.js" />

    <link href="../static/css/main.css"
          th:href="@{css/main.css}" rel="stylesheet" media="screen"/>
</head>

<body ng-app="card">

<div class="container">
        <h1> Henrik´s Magic Deck Manager</h1>
        <div ng-controller="home">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                        <ul class="nav navbar-nav">
                            <li><a href="#" th:href="@{/}">Deck Details</a></li>
                            <li><a href="#" th:href="@{/}">Upload new Deck</a></li>
                        </ul>

                    </div>
                </div>
            </nav>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4" ng-repeat="card in cards">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{card.name}}</h3>
                            </div>
                            <div class="panel-body">
                                <strong>Author: </strong>{{card.author}}<br/>
                                <strong>Format: </strong>{{card.format}}<br/>
                                <strong>Rating: </strong>{{card.rating}}<br/>
                                <strong><a href="{{card._links.self.href}}">Details</a></strong>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="jumbotron">
                <p>The ID is {{greeting.id}}</p>
                <p>The content is {{greeting.content}}</p>
                <p> Decks are {{cards}}</p>
                <p>Test: {{test}}</p>
            </div>

        </div>

</div>

</body>
</html>